<h1>Start contact</h1>

<h3>The task start date has come.</h3>
<h3>Please change the progress by editing and work on the task.</h3>
<p>title: <%= @task.title %></p>
<p>period: <%= @task.event.start_time_on %>～<%= @task.event.end_time_on%></p>
