<h1>Deadline contact</h1>

<h3>The task end date has come.</h3>
<h3>The task has not been completed, so please start.</h3>
<p>title: <%= @task.title %></p>
<p>period: <%= @task.event.start_time_on %>～<%= @task.event.end_time_on%></p>