// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
  }

main {
  margin-bottom: 150px;
}

.content {
  padding: 20px 50px;
  display: table;
  border-collapse: separate;
  justify-content: center;
  background-color: white;
  border: solid gray;
  border-radius: 15px;
}