<ul>
  <% memos.each do |memo| %>
    <% if memo.id.present? %>
      <li>
        <div class="memo-content" id="this_memo_<%= memo.id %>"></div>
        <p>
          <span><%= memo.content %></span>
          <span><%= link_to "メモ編集", edit_task_memo_path(@task, memo), remote: true %></span>
          <span><%= button_to "メモ削除", task_memo_path(@task.id, memo.id), method: :delete, remote: true, data: { confirm: "本当に削除しますか？"} %></span>
        </p>
      </li>
    <% end %>
  <% end %>
</ul>